<% if trophies.any? %>
	<div>
		<h2>
			<span class="fa fa-trophy"></span>
			Trofeos:
		</h2>
		<table border="2" class="table table-bordered">
			<thead>
				<th>Id</th>
				<th>Descripcion</th>
				<th>Puntos</th>
				<th></th>
			</thead>
			<tbody>
				<%= render trophies %>
			</tbody>
		</table>
	</div>
<% else %>
	<p><em>No tiene Trofeos aun.</em></p>
<% end %>
