<% if trophies.any? %>
	<div>
		<h2>Trofeos del Estudiante: </h2>
		<table border="2">
			<thead>
				<th>Id</th>
				<th>Descripcion</th>
				<th>Puntos</th>
				<th></th>
			</thead>
			<tbody>
				<%= render trophies %>
			</tbody>
		</table>
	</div>
<% else %>
	<p><em>No tiene Trofeos aun.</em></p>
<% end %>