<h1>Carreras</h1>
<p>Listado de carreras</p>

<% if flash[:notice] %>
	<div style="background: yellow">
		<%= flash[:notice] %>
	</div>
<% end %>

<table border="1" class="table  table-striped">
	<thead>
		<tr>
			<th>Slug</th>
			<th>Nombre</th>
			<th>Orientacion</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @careers %>
	</tbody>
</table>

<p>
	<%= link_to "Agregar Carrera", new_career_path %>
</p>
