
<div id="featured_slide">
  <div id="featured_wrap">
    <div id="featured_content">
      <h1 id="header"><%= @x %></h1>
      <%= image_tag "logo.png" %>
      <p class="bold">Bienvenido al Sistema de Railstudent. Para que puedas monitorear el rendimiento de tus alumnos.</p>
    </div>
  </div>
</div>


