<div class="jumbotron">
  <div class="contained">
    <h1>Rubystudent</h1>
    <p>Bienvenido al Sistema de Railstudent. Para que puedas monitorear el rendimiento de tus alumnos.</p>
    <%= image_tag "logo.png" %>
    <a href="" onclick="alert('Me Clickeaste')">Clickeame</a>
  </div>

</div>

